.well.clearfix
  .pull-left
    %h3
      %span.glyphicon.glyphicon-exclamation-sign
  .pull-left
    %h3 Hmmm.... we need a bit more information before you can register a student.
    %p Please fill out all of the sections below before you can proceed.
