.well.clearfix
  .pull-left
    %h3
      %span.glyphicon.glyphicon-exclamation-sign
  .pull-left
    %h3 Hmmm.... it looks like you haven't registered any students yet.
    %p Please #{link_to 'create a student profile', new_student_path} for each child you need to register for a session.
