.container-fluid
  .row
    .col-lg-12
      %h1.page-header
        New Student
        %small Safety Harbor CoderDojo
      %ol.breadcrumb
        %li
          = link_to 'Home', 'http://www.shcoderdojo.org'
        %li
          = link_to 'My Profile', edit_user_registration_path
        %li.active New Student Profile
      .well
        = render 'form'
      = link_to 'Back', edit_user_registration_path
