/ Page Content
.container-fluid
  / Page Heading/Breadcrumbs
  .row
    .col-lg-12
      %h1.page-header
        About
        %small Safety Harbor CoderDojo
      %ol.breadcrumb
        %li
          = link_to 'Home', 'http://www.shcoderdojo.org'
        %li.active About
  / /.row
  / Intro Content
  .row
    .col-md-6
      = image_tag "logo_rect.png", class: "img-responsive"
  .row
    %hr
    .col-lg-12
      %p
        CoderDojo is a volunteer-led community of free local programming clubs for young people.  At our Dojo, kids between 7 and 17
        learn how to code, develop websites, apps, programs, games and explore technology using MIT Scratch, HTML, JavaScript, Python,
        Ruby, TouchDevelop and more!
      %p
        There is a focus on community, collaborative creativity and self-led learning with an emphasis on helping others and showing
        how coding is a force for change in the world!  Most importantly, CoderDojo is about encouraging creativity and having fun in
        a social environment. CoderDojo makes development and learning to code a fun, sociable, safe experience.
      %p
        Our Dojo is organized, run and mentored by volunteers (many of whom are parents) and since CoderDojo’s inception, all Dojos
        have been completely free and open to all young people who wish to attend.  The #1 rule at our CoderDojo is Be Cool!
      %hr
      %strong
        The CoderDojo Charter is simple:
      %ul
        %li We commit to inspiring and supporting young people to learn how to create technology.
        %li We commit to always uphold the best interests of the young people attending our Dojo and ensuring best-practices are followed.
        %li We commit to the highest possible standards of child protection in our jurisdiction.
        %li We commit to not charging children attending nor their parents.
        %li We commit to encourage parent participation within our Dojo.
        %li We commit to sharing our knowledge for free.
        %li We commit to share our knowledge within our Dojo and to other Dojos.
        %li We commit to take care and uphold the good name of the global CoderDojo community.
        %li We commit to encouraging collaboration, peer to peer mentoring and project work between the attendees.
        %li We commit to welcoming volunteers and children regardless of gender, race, sexual orientation, creed, religion or ability.
      %hr
      %p
        The international CoderDojo movement, founded in 2011 by Irish teen James Whelton, has grown to over 450 Dojos in 47 countries
        in just three short years. Safety Harbor CoderDojo is a proud member of that #{link_to "movement", "https://coderdojo.com/movement"}.
