<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Contact
        <small>Safety Harbor CoderDojo</small>
      </h1>
      <ol class="breadcrumb">
        <li><%= link_to 'Home', root_path %>
        </li>
        <li class="active">Contact</li>
      </ol>
    </div>
  </div>
  <!-- /.row -->

  <!-- Content Row -->
  <div class="row">
    <!-- Map Column -->
    <div class="col-md-8">
      <!-- Embedded Google Map -->
      <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3523.0696047998345!2d-82.6906296849317!3d27.991766782675015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c2ee8bb210a207%3A0xde0877253b85c5b6!2sSafety+Harbor+Public+Library!5e0!3m2!1sen!2sus!4v1459280135953"></iframe>
    </div>
    <!-- Contact Details Column -->
    <div class="col-md-4">
      <h3>Contact Details</h3>
      <p>
        Safety Harbor Library
      </p>
      <p>
        101 2nd Street North<br>Safety Harbor, Florida 34695<br>
      </p>
      <p><i class="fa fa-phone"></i>
        <abbr title="Phone">P</abbr>: (727) 724-1525</p>
        <p><i class="fa fa-envelope-o"></i>
          <abbr title="Email">E</abbr>: <a href="mailto:shcoderdojo@gmail.com">shcoderdojo@gmail.com</a>
        </p>

        <ul class="list-unstyled list-inline list-social-icons">
          <li>
            <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- /.row -->

    <!-- Contact Form -->
    
  </div>
  <!-- /.container -->
