.container-fluid
  .row
    .col-lg-12
      %h1.page-header
        Mentor
        %small Safety Harbor CoderDojo
      %ol.breadcrumb
        %li= link_to 'Home', root_path
        %li.active Mentor
  .row
    .col-lg-12
      %h2.page-header Volunteer at SH CoderDojo
      %p
        A mentor is a technically skilled individual who guides Dojo attendees and facilitates
        their learning and project work during the sessions. Mentors usually have a preferred
        area and expertise within which they like to work (eg. HTML, Python etc.) and this can
        influence the topics covered in the Dojo.
      %p
        Mentors facilitate young people’s learning at a Dojo. Rather than lecturing and having
        a top down teaching attitude mentors are there to encourage the young people to
        explore technology and develop their own unique projects!
      %p
        Dojos are always looking for technically skilled mentors to help out, for a couple of
        hours a week, helping to share their knowledge with local young people.
        Whether you are a pro at Python, can write HTML blindfolded or love tinkering with
        hardware like Raspberry Pis and robotics, your knowledge and experience would be
        welcome at any Dojo!
      %p
        Volunteering at a Dojo is an incredibly rewarding experience, and many mentors
        are surprised at how much they learn and gain from the experience! It gives you
        an opportunity to directly help and impact kids to learn how to code and create with
        technology.
      %h3
        What mentors do:
      %ul
        %li Work with students to help them work through projects
        %li Strengthen and acquire new skills in coding and mentorship
        %li Experience the joy of helping young people gain confidence and skills
        %li Join a strong community of enthusiastic coders, educators, and entrepreneurs.
      %h3
        For non-technical volunteers:
      %ul
        %li Registration & check-in
        %li Create flyers
        %li Make badges
        %li Create newsletter
        %li Update social media
