.container-fluid
  .row
    .col-lg-12
      %h1.page-header
        New Course Registration
        %small Safety Harbor CoderDojo
      %ol.breadcrumb
        %li= link_to 'Home', root_path
        %li= link_to 'Courses', courses_path
        %li= link_to 'Registrations', course_registrations_path
        %li.active Register for Course
  .row
    .col-md-12
      .well
        = render 'form'
