<p><%= @resource.email %>,</p>

<p>Welcome to Safety Harbor CoderDojo!</p>

<p>
  Please confirm your account by following the link below. You'll need to confirm your account
  before you can register for a session.
</p>

<p><%= link_to 'CONFIRM MY ACCOUNT', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>
  After you confirm your account, we'll walk you through registering for a session.
  We look forward to seeing you soon!
</p>

<p>
  Thanks! <br>
  - All of the CoderDojo Mentors
</p>
