.container-fluid
  .row
    .col-lg-12
      %h1.page-header
        New Course (Admin Only)
        %small Safety Harbor CoderDojo
      %ol.breadcrumb
        %li= link_to 'Home', root_path
        %li= link_to 'Courses', courses_path
        %li.active Create New Course
  .row
    .col-md-12
      .well
        = render 'form'
